* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Raleway", sans-serif;

}

.body {
   color: #000000;
}

.container {
   max-width: 1200px;
   padding: 0 15px;
   margin: 0 auto;
}

/* секция tabs */

.tabs {
   margin-bottom: 110px;
   margin-top: 40px;
   /* просто чтобы увидеть границу табов*/
}

.tabs__items {
   display: flex;
}

.tabs__item {
   border: none;
   max-width: 203px;
   width: 100%;
   padding: 10px;
   background-color: #fff;
   color: #000000;
   font-family: "Open Sans", serif;
   font-size: 14px;
   font-weight: 400;
   line-height: 19px;
   text-align: center;
   text-transform: uppercase;
   text-decoration: none;
}

.tabs__item--border {
   border: 1px solid #C6CBCD;
   border-top-left-radius: 5px;
   border-top-right-radius: 5px;
   border-bottom: none;
   position: relative;
}

a.tabs__item--border::after {
   content: "";
   display: block;
   position: absolute;
   top: 95%;
   left: 0;
   width: 100%;
   height: 5px;
   background: #fff ;
}

.tabs__box {
   display: flex;
   border: 1px solid #C6CBCD;
}

.tabs__wrapper-text {
   padding: 54px 30px 55px 100px;
   width: 60%;
}

.tabs__title {
   font-family: "Open Sans", sans-serif;
   font-weight: 700;
   font-size: 30px;
   line-height: 41px;
   margin-bottom: 57px;
}

.tabs__text {
   font-size: 18px;
   line-height: 21px;
   margin-bottom: 26px;
}

.tabs__text:last-of-type {
   margin: 0;
}

.tabs__btn {
   font-family: 'Open Sans', sans-serif;
   font-size: 18px;
   font-weight: 600;
   line-height: 26px;
   background-color: #EC7979;
   color: #fff;
   border: none;
   cursor: pointer;
   text-align: center;
   max-width: 270px;
   width: 100%;
   padding: 16px 10px;
   margin-top: 84px;
}

.tabs__wrapper-img {
   overflow: hidden;
   width: 40%;
}

.tabs__img {
   width: 100%;
   height: 100%;
   object-fit: cover;
}


/* секция advantages */

.advantages {
   text-align: center;
   margin-bottom: 110px;
}

.head {
   margin: 0 0 92px;
}

.head__title {
   font-family: "Open Sans", sans-serif;
   font-weight: 400;
   font-size: 36px;
   line-height: 42px;
   margin-bottom: 40px;
}

.head__divider {
   width: 170px;
   border-top: 1px solid #EC7979;
   margin: 0 auto 40px;
}

.head__text {
   font-size: 18px;
   line-height: 21px;
   color: #86878B;
}

.advantages__items {
   display: flex;
   justify-content: space-between;
   column-gap: 30px;
}

.advantages__item {
   max-width: 371px;
}

.advantages__wrapper-icon {
   border-radius: 50%;
   width: 91.86px;
   height: 91.61px;
   border: 1px solid #EC7979;
   margin: 0 auto 24px;
   display: flex;
   align-items: center;
   justify-content: center;
}

.advantages__title {
   font-family: "Open Sans", sans-serif;
   font-style: normal;
   font-weight: 700;
   font-size: 24px;
   line-height: 33px;
   margin-bottom: 30px;
}

.advantages__text {
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 21px;
}

/* секция pricing */

.pricing {
   background-color: #F5F5F5;
   padding: 80px 0 85px;
   text-align: center;
   margin-bottom: 80px;
}


.pricing__options {
   display: flex;
   justify-content: space-between;
   column-gap: 30px;
}

.option {
   width: 100%;
   max-width: 371px;
}

.option__title {
   font-family: 'Open Sans', sans-serif;
   font-weight: 700;
   font-size: 24px;
   line-height: 33px;
   border: 1px solid #f5f5f5;
   background-color: #333333;
   padding: 12.5px 10px;
   color: #fff;
}

.option__price {
   font-weight: 700;
   font-size: 36px;
   line-height: 42px;
   border: 1px solid #f5f5f5;
   color: #fff;
   background-color: #333333;
   padding: 28px 10px;
}

.option__list {
   list-style-type: none;
}

.option__item {
   border: 1px solid #F5F5F5;
   font-size: 18px;
   line-height: 21px;
   padding: 13.5px 10px;
   color: #86878B;
   background-color: #fff;
}

.option__item--condition {
   background-color: #333333;
   color: rgba(255, 255, 255, 0.5);
}

/* секция reviews */

.reviews {
   margin-bottom: 85px;
   text-align: center;
}

.reviews__customers {
   display: flex;
   justify-content: space-between;
   column-gap: 30px;
}

.customer {
   width: 100%;
   max-width: 371px;
}

.customer__text {
   font-weight: 400;
   font-size: 18px;
   line-height: 21px;
   border-radius: 10px;
   color: #86878B;
   background-color: #E2E2E2;
   padding: 37px 25px;
   margin-bottom: 46px;
   position: relative;
}

p.customer__text::after {
   content: '';
   position: absolute;
   left: 18%;
   bottom: -38px;
   display: inline-block;
   border: 15px solid transparent;
   border-top: 25px solid #E2E2E2;
}

.customer__info {
   display: flex;
   column-gap: 30px;
}

.customer__wrapper-img {
   width: 70px;
   height: 70px;
   border-radius: 50%;
   overflow: hidden;
}

.customer__photo {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.customer__wrapper-text {
   flex-grow: 1;
}

.customer__name {
   font-family: "Open Sans", sans-serif;
   font-weight: bold;
   font-size: 24px;
   line-height: 30px;
   margin-bottom: 18px;
}

.customer__position {
   font-weight: 400;
   font-size: 18px;
   line-height: 21px;
}