* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-style: normal;
   font-family: "Raleway", sans-serif;

}

.advantages {
   text-align: center;
   margin-bottom: 110px;
}

.container {
   max-width: 1200px;
   padding: 0 15px;
   margin: 0 auto;
}

.head {
   margin: 0 auto 40px;
}

.head__title {
   font-family: "Open Sans", sans-serif;
   font-style: normal;
   font-weight: 400;
   font-size: 36px;
   line-height: 42px;
   margin-bottom: 40px;
   color: #000000;
}

.head__divider {
   width: 170px;
   border-top: 1px solid #EC7979;
}

.head__text {
   font-size: 18px;
   line-height: 21px;
   color: #86878B;
   margin: 0 0 92px;
}

.advantages__item {
   display: inline-block;
   max-width: 371px;
}

.advantages__wrapper-icon {
   border-radius: 50%;
   width: 91.86px;
   height: 91.61px;
   border: 1px solid #EC7979;
   margin: 0 auto 24px;
}

.advantages__title {
   font-family: "Open Sans", sans-serif;
   font-style: normal;
   font-weight: 700;
   font-size: 24px;
   line-height: 33px;
   color: #000000;
   margin-bottom: 30px;
}

.advantages__text {
   font-style: normal;
   font-weight: 400;
   font-size: 18px;
   line-height: 21px;
   color: #000000;
}

.pricing {
   background-color: #F5F5F5;
   padding: 80px 0 85px;
   text-align: center;
}

.container {
   max-width: 1200px;
   padding: 0 15px;
   margin: 0 auto;
}

.header__title {
   font-weight: 500;
   font-size: 36px;
   line-height: 40px;
   margin: 0 0 40px;
   color: #000000;
}

.header__divider {
   width: 170px;
   border-top: 1px solid #EC7979;
   margin: 0 auto 40px;
}

.header__text {
   font-size: 18px;
   line-height: 21px;
   color: #86878B;
   margin: 0 0 80px;
}

.pricing__options {

   background-color: #fff;
}

.option {
   display: inline-block;
   width: 100%;
   max-width: 371px;
}

.option__title {
   font-family: "Open Sans", sans-serif;
   font-weight: 700;
   font-size: 24px;
   line-height: 33px;
   border: 1px solid #f5f5f5;
   background-color: #333333;
   padding: 13.5px 10px;
   color: #fff;
}

.option__price {
   font-weight: 400;
   font-size: 36px;
   line-height: 42px;
   border: 1px solid #f5f5f5;
   color: #fff;
   background-color: #333333;
   padding: 15px 10px;
}

.option__list {
   list-style-type: none;
}

.option__item {
   border: 1px solid #F5F5F5;
   font-size: 18px;
   line-height: 21px;
   padding: 14.5px 0 14.5px;
   color: #86878B;
   background-color: #fff;
}

.option__item--condition {
   background-color: #333333;
   color: rgba(255, 255, 255, 0.5);
   padding: 14.5px 0 14.5px;
   line-height: 21px;
   font-size: 18px;
}