* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;

}

.about{
  margin-bottom: 110px;
}

.head {
 margin-bottom: 92px;
}

.head__title {
  font-size: 36px;
  color: #000;
  text-align: center;
  font-weight: 400;
  line-height: 36px;
  margin-bottom: 40px;
}

.head__separator {
  width: 170px;
  height: 1px;
  margin: 0 auto 40px;
  background-color: #EC7979;
}

.head__text {
  font-size: 18px;
  font-weight: 400;
  color: #86878B;
  line-height: 21px;
  text-align: center;
}

.container {
  max-width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
}

/* .about__items {
 
} */

.about__items {
  display: flex;
}
.about__item {
  max-width: 371px;
  text-align: center;

}

.about__wraper-icon {
  margin: 0 auto 27px;
  align-content: center;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  border: 1px solid #EC7979;
  height: 97px;
  width: 97px;

}

.about__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 33px;
  margin-bottom: 26px;
  font-family: "Open Sans", sans-serif;
  color: #000;
}


.about__text {
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #000;
}


/* PRICING */

.pricing {
  background-color: #F5F5F5;
  padding:  82px 0px 0px 82px ;
  margin-bottom: 107px;
  
}

.price__tariffs {
  display: flex;
  width: 100%;
  text-align: center;
}

.price__tariffs-rate {
  
  max-width: 370px;
  width: 100%;
  text-align: center;
  margin: 0px 31px 82px 0px;
}

.price__tarif {
  border: 1px solid #fff;
  font-family: "Open Sans", serif;
  font-weight: bold;
  font-size: 24px;
  line-height: 33px;
  color: #fff;
  background-color: #333333;
  padding: 12.5px 10px 12.5px 10px;
}

.price__money {
  border: 1px solid #fff;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  color: #fff;
  background-color: #333333;
  padding: 28px 10px 28px 10px;
}

.price__live {
  border: 1px solid #fff;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: rgb(255, 255, 255, .5);
  background-color: #333333;
  padding: 13.5px 10px 13.5px 10px;
}

.price__list {
  list-style-type: none;
}

.price__list-item {
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #86878B;
  background-color: #fff;
  border: 1px solid #F5F5F5;
  padding: 13.5px 10px 13.5px 10px;
}

/* castomerss*/
.customers {
  margin-bottom: 107px;
}

.customers__item{
  display: flex;
  width: 100%;
}
.customer{
  max-width: 370px;
  text-align: center;
  width: 100%;
  margin-right: 30px;
}


.customer__text {
  border-radius: 10px;
 
  width: 100%;
  padding: 42px 25px;
  margin-bottom: 66px;
  font-size: 18px;
  font-weight: normal;
  line-height: 21px;
  color: #86878B;
  background-color: #E2E2E2;
}

.customer__info {
  display: flex; 
  justify-content: flex-start;
  text-align: center;
  align-items: center;
  text-align: left;
}


  .customer__wrapper-photo {
  
    width: 71px;
    height: 71px;
    border-radius: 50%;
    border: 1px solid ;
    margin-right: 30px;
}

.castomer__photo {
  height: 100%;
  width: 100%;
  object-fit: cover;

}

.customer__info {
  display: flex; 
  align-items:center
}

.customer__personality {
  display: inline-block;
  margin-right: 31px;
}

.customer__surname {
  font-family: "Open Sans", serif;
  font-weight: bold;
  line-height: 30px;
  color: #000000;
  margin-bottom: 18px;
}

.customer__job {
  font-weight: normal;
  line-height: 21px;
  font-size: 18px;
}

/* tabs */

.tabs {
  margin-top: 100px;
  margin-bottom: 110px;
}
.tabs__tab {
  display: flex;
    
}

.tabs__tab-list:first-child {
  border: 1px solid #C6CBCD;
  border-radius: 5px 5px 0 0;
  border-bottom: none;
  }
  

.tabs__tab-list {
  width: 100%;
  max-width: 203px;
  font-size: 14px;
  line-height: 19px;
  font-family: "Open Sans", sans-serif;
  color: #333333;
  font-weight: normal;
  padding: 10px 10.5px ;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  
}
.tabs__block {
  border: 1px solid #C6CBCD;
  display: flex;
  justify-content: space-between; 
}

.tabs__info {
  padding: 55px 30px 54px 100px ;
  width: 60%
  
}

.tabs__info-title {
  margin-bottom: 57px;
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  line-height: 40px;
  font-weight: bold;  
}

.tabs__text--primary{
  margin-bottom: 26px;
}

.tabs__text--secondary {
  margin-bottom: 84px;
}

.tabs__text {
  font-family: 'Raleway', sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #000;
  
}

.tabs__wrapper-pictures {
  object-fit: cover;
  overflow: hidden;
  width: 41.6%;
      
}

.tabs__pictures {    
  object-fit: cover;
  width: 100%;
  height: 100%;
}


.table__button{
  background-color: #EC7979; 
  color:#ffffff;
  border: none; 
  text-align: center; 
  display: inline-block;
  font-family: "Open Sans", sans-serif;
  font-weight: 600; 
  font-size: 18px; 
  cursor: pointer;
  padding: 10px 19px 10px 19px;
  max-width: 270px;
  margin-bottom: 54px;

  
  }