.rewiews{
    margin-bottom: 107px;	
    text-align: center;
}

.rewiews__content{
display: flex;
justify-content: center;
column-gap: 30px;
}

.rewiews_line{
    width: 170px;
    border-top: 1px solid #EC7979;
    margin: 0 auto 40px;
}
.rewiews__box{
max-width: 364px;	
width: 100%;	
text-align: center;
}

.rewiews__text{
color: #86878B;
font-size: 18px;
line-height: 21px;
font-weight: 400;
background-color: #E2E2E2;
padding: 38px 25px;
border-radius: 10px;
margin-bottom: 66px;
}

.rewiews__person{
display: flex;
justify-content:left;
column-gap: 30px;
}

.rewiews__person-text{
text-align: left;
flex-grow: 1;
}

.rewiews__name{
color: #000;
font-size: 24px;
line-height: 30px;
font-family: "Open Sans", serif; 
font-weight: bold;
margin-bottom: 18px;
}

.rewiews__description{
color: #000;
font-size: 18px;
line-height: 21px;
font-weight: 400;
}

.rewiews__wrap-photo{
width: 70px;
height: 70px;
overflow: hidden;
border-radius: 50%;
}

.rewiews__photo{
width: 100%;
height: 100%;
object-fit: cover;
}