*{
    font-family: "Open Sans", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    margin:0 auto;
    padding: 0 16px;
    max-width: 1202px;
}

.header__container{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.header{
    background-color: black;
}

.header__logo{
    margin:22px 0 22px;
}

.header__list{
    display: flex;
    list-style-type: none;
    justify-content: flex-end;
}

.header__list-item{
    width: 113px;
    text-align: center;
}

.header__list-link{
    text-decoration: none;
    color: white;
    font-size: 14px;
    font-weight: 600;
}

.banner{
    padding: 306px 0px 185px;
    background: url(../img/image.png) center/cover no-repeat;
    position: relative;
}

.banner::before{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color:rgba( 0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    top: 0;
}

.banner__container{
    position: relative;
}


.banner__desk{
    max-width: 670px;
    width: 100%;
}

.banner__logo{
    margin-bottom: 73px;
}

.banner__title{
    font-family: "Raleway", serif;
    font-size:48px;
    line-height: 56px;
    font-weight:500;
    color:#fff;
    position: relative;
    margin-bottom: 97px;
}

.banner__title::after{
    content: '';
    display: block;
    width: 169px;
    border:1px solid #fff;
    position:absolute;
    left:0;
    bottom:-55px
}

.banner__text{
    width: 270px;
    font-family: "Raleway", serif;
    font-size: 18px;
    line-height: 21px;
    color:#fff;
    margin-bottom:42px;
}

.banner__button{
    width: 270px;
    height: 58px;
    border: solid 1px #fff;
    background-color: transparent;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}

.design{
    padding: 70px 175px;
    background: url(../img/imagecitynight.png) center/cover no-repeat;
    position: relative;
}

.design::before{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color:rgba( 0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    top: 0;
}

.design__container{
    position: relative;
}

.design__desk{
    max-width: 1170px;
    width: 100%;
}

.design__title{
    text-align: center;
    font-family: "Raleway", serif;
    color: #fff;
    font-size: 36px;
    line-height: 42px;
    font-weight: 400;
    margin-bottom: 80px;
    position: relative;
}

.design__title::after{
    content: '';
    display: block;
    width: 169px;
    border:1px solid #fff;
    position:absolute;
    left:490px;
    bottom:-40px;
}

.design__text{
    text-align: center;
    font-family: "Raleway", serif;
    color: #fff;
    font-size: 18px;
    line-height: 21px;
    margin-bottom:80px;
}

.design__button{
    margin: 0 auto;
    display: block ;
    width: 370px;
    height: 58px;
    border: solid 1px #fff;
    background-color: transparent;
    color: #fff;
    font-size: 18px;
    font-weight: 600;
}

.footer{
    padding-top: 35px;
    padding-bottom: 27px;
    background-color: black;
}

.footer__icons{
    display:flex;
    column-gap: 33px;
    justify-content: center;
    margin-bottom:28px;
}

.footer__wraper-icon{
    width: 53px;
    height: 53px;
}

.footer__text{
    text-align: center;
    font-family: "Raleway", serif;
    font-size: 18px;
    line-height: 21px;
    color:rgba( 255, 255, 255, 0.5);
}


