*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    color:#000;
}
body {
    background-color: #fff;
}
.container{
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
.head{
    margin-bottom: 92px;
}
.head__title{
    font-size: 36px;
    font-weight: 400;
    color: #000;
    line-height: 42px;
    margin-bottom: 40px;
    text-align: center;
    text-transform: uppercase;
}
.head__line{
    border: 1px solid #EC7979;
    width: 170px;
    margin: 0 auto 40px;
}
.head__text{
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    text-align: center;
    color: #86878B;
}
/*social*/
.social{
    background-color: #F8EFEF;
    padding: 32px 0 18px;
    margin-bottom: 99px;
}
.social__content{
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    align-items: center;
}
.social__info{
    max-width: 470px;
    width: 100%;
}
.social__title{
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 16px;
}
.social__text{
    font-size: 18px;
    line-height: 21px;
    color:#86878B;
}
.social__icons{
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}
.social__icon{
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/*tabs*/
.tabs{
    margin-bottom: 118px;
}
.tabs__elements{
    display: flex;
    justify-content: flex-start;
}
.tabs__button{
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #333;
    background-color: #fff;
    border: none;
    padding: 9.5px 10px;
    max-width: 203px;
    width: 100%;
    position: relative;
}
.tabs__button-active{
    border: 1px solid #C6CBCD;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
}
.tabs__button-active::before{
    content: '';
    display: inline-block;
    width: 100%;
    height: 5px;
    background-color: #fff;
    position: absolute;
    bottom: -3px;
    left: 0;
}
.tabs__content{
    display: flex;
    border: 1px solid #C6CBCD;
}
.tabs__wrapper-img{
    
    width: 40%;
    overflow: hidden;
}
.tabs__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.tabs__info{
    padding: 55px 29px 54px 100px;
    width: 60%;
}
.tabs__title{
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    line-height: 41px;
    font-weight: 700;
    margin-bottom: 57px;
}
.tabs__text{
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 26px;
}
.tabs__text:last-of-type{
    margin-bottom: 0;
}

.tabs__btn{
    background-color: #EC7979;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    color: #FFF;
    border: none;
    padding: 19px 10px;
    max-width: 270px;
    width: 100%;
    margin-top: 84px;
}
/*about*/
.about{
    margin-bottom: 110px;
}
.about__elements{
    display: flex;
    justify-content: space-between;
    column-gap: 27px;
}
.about__element{
    width: calc((100% - 27px - 27px)/3);
    margin: 0 auto;
}
.about__circle{
    width:92px;
    height: 92px;
    border: 1px solid #EC7979;
    border-radius: 50%;
    margin: 0 auto 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about__title{
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: #000;
    margin-bottom: 30px;
    line-height: 33px;
}
.about__text{
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color: #000;
    line-height: 21px;
}
/*pricing*/
.prices{
    background-color: #F5F5F5;
    padding: 80px 0 83px;
    margin-bottom: 107px;
}
.prices__options{
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}
.price{
    max-width: 370px;
    width: 100%; 
}
.price:hover{
    position: relative;
    top:-20px;
    filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.2));

}
.price__title{
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    color:#FFFFFF;
    text-align: center;
    background-color: #333333;
    border: 1px solid #F5F5F5;
    padding: 12.5px 10px;
}
.price__value{
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    color:#FFFFFF;
    text-align: center;
    background-color: #333333;
    border: 1px solid #F5F5F5;
    padding: 28px 10px;
}
.price__list{
    list-style-type: none;
}
.price__item{
    text-align: center;
    font-size: 18px;
    line-height: 21px;
    color: #86878B;
    background-color: #FFFFFF;
    border: 1px solid #F5F5F5;
    padding: 13.5px 10px;
}
.price__item--description{
    color:rgba(255,255,255,0.5);
    background-color: #333333;
}

/*customers*/
.customers{
    margin-bottom: 107px;
}
.customers__reviews{
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}
.review{
    max-width: 370px;
    width: 100%; 
}
.review__text{
    text-align: center;
    font-size: 18px;
    line-height: 21px;
    color: #86878B;
    padding: 38px 25px 37px;
    background-color: #E2E2E2;
    border-radius: 10px;
    margin-bottom: 66px;
    position: relative;
}
.review__text::after{
    content: '';
    display:inline-block;
    position: absolute;
    border: 15px solid transparent; 
    border-top: 25px solid #E2E2E2;
    bottom: -38px;
    left: 70px;
}
.review__info{
    display: flex;
    column-gap: 30px;
}
.review__wrapper-img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
}
.review__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.review__person{
    flex-grow: 1;
}
.review__person-name{
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    margin-bottom: 18px;
}
.review__person-job{
    font-size: 18px;
    line-height: 21px;
}
