:root
{
    --font-color: black;
}

*{
    font-family: "Raleway", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.conteiner
{
    max-width: 1170px;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 110px;
}
.heading
{
    margin-bottom: 92px;
}
.heading__title
{
    font-weight: 400;
    font-size: 36px;
    line-height: 42.26px;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 40px;
    color: var(--font-color);
}
.heading__line
{
    width: 170px;
    height: 1px;
    border: 1px;
    background-color:  #EC7979;
    margin: 0 auto;
}
.heading__text{
    margin-top: 40px;
    font-size: 18px;
    line-height: 21.13px;
    text-align: center;
    color: #86878B;
}
.about__items
{
    margin: 0 auto;  
}
.about__item
{
    max-width: 371px;
    display: inline-block; 
    margin-right: 7px;
    margin-left: 7px;
}

.about__wrapper-icon
{
    width:91.86px;
    height:91.86px;
    border-radius: 91.86px;
    border: 1px solid #EC7979;
    margin: 0 auto 24px;
}
.about__title
{
    font-family: "Open Sans", sans-serif; 
    font-weight: 700;
    font-size: 24px;
    line-height: 32.68px;
    text-align: center;
    margin-bottom: 26px;
    color: var(--font-color);
}
.about__text
{
    font-family: "Open Sans", sans-serif; 
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: var(--font-color);
}
.packaging
{
    margin: 0 auto;
    background-color: #F5F5F5;
    padding: 83px 170px;
}
.pricing
{
    width: 370px;
    height: 510px;
    display: inline-block;
    margin-left: 7px;
    margin-right: 7px;
}
.pricing__title
{
    height: 60px;
    background-color: #333333;
    border: 1px solid #F5F5F5;
    margin: 0 auto;
    padding: 10px;
}
.items__title
{
    font-family: "Open Sans", bold;
    font-size: 24px;
    line-height: 33px;
    color: #FFFFFF;
    margin: 0 auto;
    text-align: center;
}
.pricing__count
{
    height: 100px;
    background-color: #333333;
    border: 1px solid #F5F5F5;
    padding: 25px;
}
.items__caption
{
    font-family: "Raleway", bold;
    font-size: 36px;
    line-height: 42px;
    color: #FFFFFF;
    margin: 0 auto;
    text-align: center;
}
.pricing__description
{
    height: 50px;
    background-color: #333333;
    border: 1px solid #F5F5F5;
    text-align: center;
    padding: 10px;
}
.items__text
{
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
    margin: 0 auto;
    opacity: 50%;
}
.pricing__list
{
    height: 50px;
    list-style-type: none;
}
.pricing__list-item
{
    background-color: #FFFFFF;
    border: 1px solid #F5F5F5;
    margin: 0 auto;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    line-height: 21px;
    color:  #86878B;
    text-transform: capitalize;
    padding: 14px;
}
 .packaging .heading
 {
    margin: 0;
 }
 .packaging .heading__text
 {
    margin-bottom: 80px;
 }


