* {
    font-family: "Raleway", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    max-width: 1171px;
    padding: 0px 15px;
    margin: 0 auto;
}


.title{
    text-transform:uppercase;
    font-weight: 500;
    line-height:40px ;
    font-size: 36px;
    text-align: center;
    margin: 0 auto 40.4px;
}

.line{
    width: 170px;
    border-top: 1px solid #EC7979;
    margin: 0 auto 40px;
}

.text{ 
    font-size: 18px;
    text-align: center;
    margin: 40.4px auto 83px;
    color: #86878B;
    line-height:21px ;
}

.clients__body{
    display: flex;
    max-width: 1171px;
}

.clients__section{
    width: 370px;
    margin-right:30px;
}

.clients__img{
float: left;
margin-right: 30px;
}

.clients__title{
    font-family: "Open Sans", serif;
    font-weight: bold;
    line-height: 30px;
    font-size: 24px;
    margin-bottom: 18px;
}

.clients_text{
    font-size: 18px;
    line-height: 21px;
}
