*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Raleway", sans-serif;
    color:#000;
}
body {
    background-color: #fff;
}
.container{
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}
.head{
    margin-bottom: 92px;
}
.head__title{
    font-size: 36px;
    font-weight: 400;
    color: #000;
    line-height: 42px;
    margin-bottom: 40px;
    text-align: center;
    text-transform: uppercase;
}
.head__line{
    border: 1px solid #EC7979;
    width: 170px;
    margin: 0 auto 40px;
}
.head__text{
    font-size: 18px;
    line-height: 21px;
    font-weight: 400;
    text-align: center;
    color: #86878B;
}
/*header*/
.header{
    background-color: #000;
    padding: 22px 0;
}
.header__content{
    display:flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 30px;
}
.header__icon{
    display: flex;
    justify-content: center;
    align-items: center;

}
.header__link{
    font-family: "Open Sans", sans-serif;
    color:#fff;
    font-size: 14px;
    line-height: 18px;
    font-weight: 600;
    text-align: center;
    text-decoration: none;
}
.header__link:hover{
    color:#EC7979;
}
.header__link:active{
    color:#AB4949;
}
.header__list{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style-type: none;
    text-align: center;
}
.header__item{
    min-width: 113px;
}
/*banner*/
.banner{
    background: url(../photo/Back1.png) center/cover no-repeat;
    padding: 306px 0 185px;
    position: relative;
}
.banner::before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    top: 0;
}
.banner__content{
    display: flex;
    justify-content: space-between;
    position: relative;
    align-items: center;
}
.banner__icon{
    margin-bottom: 73px;
}
.banner__title{
    margin-bottom: 98px;
    color:#fff;
    font-size: 48px;
    line-height: 56px;
    text-transform: uppercase;
    font-weight: 500;
    position: relative;
}
.banner__info{
    max-width: 670px;
    width: 100%;
}
.banner__text{
    max-width: 270px;
    color:#fff;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 42px;
}
.banner__title::after{
    content: '';
    display: inline-block;
    width: 170px;
    border-bottom: 1px solid #fff;
    position: absolute;
    bottom: -55px;
    left: 0px;
}
.button{
    max-width: 270px;
    width: 100%;
    padding: 17px 10px;
    font-family: "Open Sans", sans-serif;
    background-color: transparent;
    border: 2px solid #FFFFFF;
    color:#fff;
    font-size: 18px;
    line-height: 20px;
}
.button:hover{
    border: 2px solid #EC7979;
    color: #EC7979;
}
.button:active{
    background-color: #AB4949;
    color:#fff;
    border: 2px solid #AB4949;
}
.banner__form{
    max-width: 470px;
    width: 100%;
    background-color: #FFF;
    border-radius: 10px;
    padding-top: 36px;
}

.banner__legend{
    color:#000;
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    line-height: 33px;
    font-weight: 700;
    text-align: center;
    margin-bottom: 75px;
    text-transform: uppercase;
}
.banner__span{
    color:#EC7979;
}
.banner__wrapper-inputs{
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    row-gap: 33px;
}
.banner__input{
    width: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 19px;
    padding: 10.5px 0;
    border: none;
    border-bottom: 1px solid #BDBDBD;
    outline: none;
    color:#000000;
}
.banner__input::placeholder{
    color:#BDBDBD;
}
.banner__input:focus{
    border-bottom: 1px solid #EC7979;
}
.banner__input:hover{
    
    box-shadow: 0px 2px 4px #AB4949;
}
.banner__submit{
    width: 100%;
    background-color: #EC7979;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    color: #FFF;
    border: none;
    padding: 20px 0;
    margin-top: 75px;
    border-radius: 0 0 10px 10px;
}
.banner__submit:hover{
    background-color:#AB4949;
}
.banner__submit:active{
    background-color: #EC7979;
    box-shadow: 0px 4px 4px #AB4949;
}
/*social*/
.social{
    background-color: #F8EFEF;
    padding: 32px 0 18px;
    margin-bottom: 99px;
}
.social__content{
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
    align-items: center;
}
.social__info{
    max-width: 470px;
    width: 100%;
}
.social__title{
    font-family: "Open Sans", sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 16px;
}
.social__text{
    font-size: 18px;
    line-height: 21px;
    color:#86878B;
}
.social__icons{
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}
.social__icon{
    width: 70px;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.social__icon:hover path{
    fill: #EC7979;
}
.social__icon:active path{
    fill: #AB4949;
}
/*tabs*/
.tabs{
    margin-bottom: 118px;
}
.tabs__elements{
    display: flex;
    justify-content: flex-start;
}
.tabs__button{
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
    color: #333;
    background-color: #fff;
    border: none;
    padding: 9.5px 10px;
    max-width: 203px;
    width: 100%;
    position: relative;
}
.tabs__button-active{
    border: 1px solid #C6CBCD;
    border-bottom: none;
    border-radius: 5px 5px 0 0;
}
.tabs__button-active::before{
    content: '';
    display: inline-block;
    width: 100%;
    height: 5px;
    background-color: #fff;
    position: absolute;
    bottom: -3px;
    left: 0;
}
.tabs__content{
    display: flex;
    border: 1px solid #C6CBCD;
}
.tabs__wrapper-img{
    
    width: 40%;
    overflow: hidden;
}
.tabs__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.tabs__info{
    padding: 55px 29px 54px 100px;
    width: 60%;
}
.tabs__title{
    font-family: "Open Sans", sans-serif;
    font-size: 30px;
    line-height: 41px;
    font-weight: 700;
    margin-bottom: 57px;
}
.tabs__text{
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 26px;
}
.tabs__text:last-of-type{
    margin-bottom: 0;
}

.tabs__btn{
    background-color: #EC7979;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    color: #FFF;
    border: none;
    padding: 19px 10px;
    max-width: 270px;
    width: 100%;
    margin-top: 84px;
}
.tabs__btn:hover{
    background-color:#AB4949;
}
.tabs__btn:active{
    background-color: #EC7979;
    box-shadow: 0px 4px 4px #AB4949;
}

/*about*/
.about{
    margin-bottom: 110px;
}
.about__elements{
    display: flex;
    justify-content: space-between;
    column-gap: 27px;
}
.about__element{
    width: calc((100% - 27px - 27px)/3);
    margin: 0 auto;
}
.about__circle{
    width:92px;
    height: 92px;
    border: 1px solid #EC7979;
    border-radius: 50%;
    margin: 0 auto 24px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.about__title{
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    color: #000;
    margin-bottom: 30px;
    line-height: 33px;
}
.about__text{
    font-size: 18px;
    font-weight: 400;
    text-align: center;
    color: #000;
    line-height: 21px;
}
/*pricing*/
.prices{
    background-color: #F5F5F5;
    padding: 80px 0 83px;
    margin-bottom: 107px;
}
.prices__options{
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}
.price{
    max-width: 370px;
    width: 100%; 
}
.price:hover{
    position: relative;
    top:-20px;
    filter: drop-shadow(0px 4px 10px rgba(51, 51, 51, 0.2));

}
.price__title{
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
    color:#FFFFFF;
    text-align: center;
    background-color: #333333;
    border: 1px solid #F5F5F5;
    padding: 12.5px 10px;
}
.price__value{
    font-size: 36px;
    font-weight: 700;
    line-height: 42px;
    color:#FFFFFF;
    text-align: center;
    background-color: #333333;
    border: 1px solid #F5F5F5;
    padding: 28px 10px;
}
.price__list{
    list-style-type: none;
}
.price__item{
    text-align: center;
    font-size: 18px;
    line-height: 21px;
    color: #86878B;
    background-color: #FFFFFF;
    border: 1px solid #F5F5F5;
    padding: 13.5px 10px;
}
.price__item--description{
    color:rgba(255,255,255,0.5);
    background-color: #333333;
}

/*customers*/
.customers{
    margin-bottom: 107px;
}
.customers__reviews{
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}
.review{
    max-width: 370px;
    width: 100%; 
}
.review__text{
    text-align: center;
    font-size: 18px;
    line-height: 21px;
    color: #86878B;
    padding: 38px 25px 37px;
    background-color: #E2E2E2;
    border-radius: 10px;
    margin-bottom: 66px;
    position: relative;
}
.review__text::after{
    content: '';
    display:inline-block;
    position: absolute;
    border: 15px solid transparent; 
    border-top: 25px solid #E2E2E2;
    bottom: -38px;
    left: 70px;
}
.review__info{
    display: flex;
    column-gap: 30px;
}
.review__wrapper-img{
    width: 70px;
    height: 70px;
    border-radius: 50%;
    overflow: hidden;
}
.review__img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.review__person{
    flex-grow: 1;
}
.review__person-name{
    font-family: "Open Sans", sans-serif;
    font-size: 24px;
    line-height: 30px;
    font-weight: 700;
    margin-bottom: 18px;
}
.review__person-job{
    font-size: 18px;
    line-height: 21px;
}
/*design*/
.design{
    background:url(../photo//Back2.jpg) center/cover no-repeat ;
    padding: 70px 0px;
    position: relative;
    margin-bottom: 67px;
}
.design::before{
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    left: 0;
    top: 0;
}
.design__content{
    position: relative;
}
.design__title{
    font-size: 36px;
    line-height: 42px;
    color: #fff;
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    position: relative;
    margin-bottom: 80px;
}
.design__title::after{
    content: '';
    display: inline-block;
    width: 170px;
    border-bottom: 1px solid #fff;
    position: absolute;
    bottom: -40px;
    left: 50%;
    transform: translateX(-50%);

}
.design__text{
    color: #FFF;
    text-align: center;
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 80px;
}
.button-design{
    max-width: 370px;
    display: block;
    margin: 0 auto;
}
/*contact*/
.contact{
    margin-bottom: 66px;
}
.contact__wrapper{
    display: flex;
    justify-content: space-between;
    column-gap: 30px;
}
.contact__wrapper-inputs{
    display: flex;
    flex-direction: column;
    row-gap: 50px;
    max-width: 570px;
    width: 100%;
}
.contact__input{
    width: 100%;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    line-height: 19px;
    padding: 9px 0;
    border: none;
    border-bottom: 1px solid #BDBDBD;
    color:#000;
    outline: none;
}
.banner__input::placeholder{
    color:#BDBDBD;
}
.contact__input:focus{
    border-bottom: 1px solid #EC7979;
}
.contact__input:hover{
    
    box-shadow: 0px 2px 4px #AB4949;
}
.contact__textarea{
    resize: none;
}
.contact__submit{
    max-width: 370px;
    width: 100%;
    background-color: #EC7979;
    font-family: "Open Sans", sans-serif;
    font-weight: 600;
    font-size: 18px;
    line-height: 20px;
    color: #FFF;
    border: none;
    padding: 20px 0;
    display: block;
    margin: 50px auto 0; 
}
.contact__submit:hover{
    background-color:#AB4949;
}
.contact__submit:active{
    background-color: #EC7979;
    box-shadow: 0px 4px 4px #AB4949;
}
/*footer*/
.footer{
    background-color: #000;
    padding: 35px 0 27px;
}
.footer__container{
    max-width: 600px;
    padding: 0 15px;
    margin: 0 auto;
}
.footer__icons{
    display: flex;
    justify-content: space-between;
    column-gap: 33px;
    margin-bottom: 28px;
}
.footer_icon{
    width: 53px;
    height: 53px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_icon:hover path{
    fill: #EC7979;
}
.footer_icon:active path{
    fill: #AB4949;
}
.footer__copyright{
    color: #FFFFFF;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}